.about {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-header {
  color: var(--purple);
}
.about ul {
  list-style-type: none;
}
.about-list {
  margin-top: 2rem;
}
.about-list > li {
  margin: 1.5rem 0;
}
.about-list i {
  margin-right: 1rem;
}
.about-link {
  color: rgb(4, 4, 250);
}
.about-right {
  font-size: 0.8rem;
  position: relative;
  margin: 5rem;
}
.about-right-text {
  position: absolute;
  bottom: 3rem;
  left: 2.5rem;
  color: var(--purple);
  letter-spacing: 0.1rem;
}
.about img {
  height: 15rem;
  width: 15rem;
}
.about-left h2 {
  margin: 2rem 0;
}
@media (min-width: 768px) {
  .about {
    flex-direction: row;
    align-items: start;
  }
  .about-right {
    flex: 30%;
  }
  .about-left {
    flex: 70%;
  }
}
@media (max-width: 768px) {
  .about-header {
    text-align: center;
  }
}
