.footer-mobile {
  width: 100vw;
  position: fixed;
  bottom: 0;
  height: 3rem;
  background-color: black;
}

.footer-template {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem;
}

.footer-icons {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
}

.home-icon {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .cart-count {
    top: -0.7rem;
    right: -0.7rem;
  }
  .footer-template {
    display: none;
  }
}
