h1 {
  color: var(--purple);
  text-align: center;
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin-bottom: 2rem;
}
.phone-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.phone-card {
  background-color: aliceblue;
  padding: 0.7rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.phone-card * {
  margin: 0.3rem 0;
}

.phone-card button {
  padding: 0.4rem 0.7rem;
  border: transparent;
  background-color: var(--purple);
  border-radius: 3px;
  color: var(--white);
  transition: transform 0.5s ease;
  outline-color: var(--purple);
}
.phone-card button:hover,
.phone-card button:focus {
  transform: scale(1.1);
}
.phone-card-empty {
  color: var(--purple);
  margin: 3rem 0 23rem 0;
  width: 100%;
  text-align: center;
}
.sort-container select {
  width: 10rem;
  margin: 0.5rem 0 2.5rem 0;
}
.sort-container {
  display: flex;
  justify-content: center;
}

.slider-from,
.slider-to {
  display: flex;
  margin: 0.2rem 0;
}

.sort-select,
.choose-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.slider-filter {
  width: 10rem;
}
.slider label:nth-child(2) {
  margin-top: 0.5rem;
}
.slider label:nth-child(3) {
  margin-bottom: 2rem;
}
.rc-slider-handle {
  border: 2px solid var(--purple);
}
.rc-slider-handle:hover,
.rc-slider-handle:focus,
.rc-slider-handle:active {
  border: 2px solid var(--purple);
}
.filter-input {
  outline-color: var(--purple);
}
.rc-slider-handle-dragging {
  background-color: var(--purple);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.pagination button {
  margin: 0 0.5rem;
  padding: 0.2rem;
  border: transparent;
  background-color: transparent;
}
.pagination button.active {
  padding: 0.4rem 0.7rem;
  border-radius: 50%;
  background-color: var(--purple);
  color: #fff;
}
@media (min-width: 1200px) {
  .phone-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 950px) {
  h1 {
    font-size: 35px;
    line-height: 36px;
  }
  .phone-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 25px;
    line-height: 24px;
    font-weight: 600;
  }
  .phone-container {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 7rem;
  }
  .sort-container {
    flex-direction: column;
    align-items: center;
  }
  .pagination {
    margin-bottom: 5rem;
  }
}
@media (max-width: 550px) {
  h1 {
    font-size: 20px;
  }
  .phone-container {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .sort-select {
    margin-right: 3rem;
  }
  .choose-pagination {
    margin-left: 2rem;
  }
}
