.payment-top {
  display: flex;
  margin: 2rem 10rem 4rem 0;

  position: relative;
}

.payment-top h2 {
  position: absolute;
  top: 0.6rem;
  left: 8rem;
  color: var(--purple);
  letter-spacing: 0.1rem;
}

.payment-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
  text-align: center;
}

.payment-start h3 {
  margin-bottom: 2rem;
}
.payments-start-button {
  padding: 0.5rem 3rem;
  border-radius: 4px;
  border: 1px solid var(--purple);
  transition: background 0.3s, color 0.5s, scale 0.5s;
}

.payment-declined,
.payment-accepted,
.payment-aborted {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 60vh;
  width: 80vw;
  margin: 0 10%;
}

.payment-accepted h3 {
  margin: 2rem 0;
}

.payment-declined button,
.payment-accepted button,
.payment-aborted button {
  margin-top: 3rem;
  padding: 0.5rem 2rem;
  outline-color: var(--purple);
  border-radius: 4px;
  border: 2px solid var(--purple);
  transition: background-color 1s, color 0.5s;
}
.payment-accepted button {
  margin-top: 1rem;
}

.payment-declined button:hover,
.payment-declined button:focus,
.payment-declined button:active,
.payment-accepted button:hover,
.payment-accepted button:focus,
.payment-accepted button:active,
.payment-aborted button:hover,
.payment-aborted button:focus,
.payment-aborted button:active {
  background-color: var(--purple);
  color: var(--white);
}
.dots span {
  width: 1px;
  height: 1px;
  margin: 0 3px;
  animation: dot-animation 1s infinite;
  opacity: 1;
}

.dots span:nth-child(1) {
  animation-delay: 0s;
}

.dots span:nth-child(2) {
  animation-delay: 0.33s;
}

.dots span:nth-child(3) {
  animation-delay: 0.66s;
}

.payments-start-button:focus,
.payments-start-button:hover {
  background-color: var(--purple);
  color: var(--white);
  outline-color: var(--purple);
  scale: 105%;
}
.rating-thanks {
  margin-top: 1rem;
  text-align: center;
}

@keyframes dot-animation {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}
