@import url("./assets/BadURL.css");
@import url("./assets/Contact.css");
@import url("./assets/Navbar.css");
@import url("./assets/Footer.css");
@import url("./assets/LoadingError.css");
:root {
  --purple: rgb(46, 3, 87);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(234, 239, 243);
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100px;
  height: 100px;
}
