@import url("./assets/LoadingError.css");
@import url("./assets/Main.css");
@import url("./assets/Modal.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("@smastrom/react-rating/style.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: rgb(46, 3, 87);
  --white: rgb(241, 238, 238);
  --red: rgb(255, 15, 15);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: rgb(234, 239, 243);
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: black;
}
a,
button {
  cursor: pointer;
}

img {
  width: 150px;
  height: 115px;
}

main,
.contact {
  margin: 2rem;
}

.rr--has-stroke .rr--on .rr--svg,
.rr--has-stroke .rr--off .rr--svg {
  stroke: var(--purple);
}

button:disabled {
  cursor: not-allowed;
}

*::selection {
  background-color: rgb(240, 195, 241);
  color: var(--purple);
}
::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple);
}

.dots span {
  width: 1px;
  height: 1px;
  margin: 0 3px;
  animation: dot-animation 1s infinite;
  opacity: 1;
}

.dots span:nth-child(1) {
  animation-delay: 0s;
}

.dots span:nth-child(2) {
  animation-delay: 0.33s;
}

.dots span:nth-child(3) {
  animation-delay: 0.66s;
}

.button-withArrow {
  border-radius: 4px;
  outline-color: transparent;
  border: 2px solid var(--purple);
  transition: background-color 1s, color 0.5s;
  position: relative;
}
.button-withArrow::after {
  content: "\21E8";
  color: var(--white);
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  opacity: 0;
  transition: opacity 0.5s;
}
.button-withArrow:hover,
.button-withArrow:focus {
  background-color: var(--purple);
  color: var(--white);
}

.button-withArrow:hover::after,
.button-withArrow:focus::after {
  opacity: 1;
}
@media (max-width: 768px) {
  .button-withArrow::after {
    top: 0.3rem;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 22px;
  }
}

@keyframes dot-animation {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}
